:root {
  --black: #141414;;
  --dark_gray: #232323;;
  --gray: #8c8c8c;;
  --light_gray: #F6F4F2;;
  --white: #FFFFFF;
  --orange:#e66f27;
  font-size: 15px;


  /* By default ligatures (sb01) are off; turn on for specific elements. */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: no-common-ligatures;
}


/* General font classes */
html {
  font-family: SL-Regular;
  line-height: 1;
}
.disp_txt{
  font-family: SL-Light;
  text-transform: uppercase;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0;
}
.body_txt{
  font-family: SL-Light;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: none;
}
.detail_txt{
  font-family: SL-Regular-Condensed;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.08em;
}

@media (max-width: 1024px) {
  .disp_txt{
    font-size: 45px;
    line-height: 45px;
  }
  .body_txt{
    font-family: SL-Regular;
    font-size: 16px;
    line-height: 20px;
  }
  .detail_txt{
    font-size: 15px;
    line-height: 20px;
  }
}

/* 
@media (max-width: 375px) {
  .disp_txt{
    font-size: 30px;
    line-height: 30px;
  }
} */


.black{
  color: var(--black);
}
.dark_gray{
  color: var(--dark_gray);
}
.gray{
  color: var(--gray);
}
.light_gray{
  color: var(--light_gray);
}
.white{
  color: var(--white);
}

.ligatures{
  font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
}
* {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;} (edited) 
